[user]
	name = Vinicius Zucatti
	email = vinicius.zucatti@deel.com

[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	se = !git rev-list --all | xargs git grep -F
	last = log -1 HEAD --stat
	newDev = !git checkout dev && git fetch origin && git reset --hard origin/dev
  current = !git rev-parse --abbrev-ref HEAD
  wip =  !git add . && git commit -m "WIP"

[core]
	editor = nvim
# 	editor = code --wait


[includeIf "gitdir:${HOME}/"]
    path = ${HOME}/.gitconfig-dotfiles

